$img-heigth: 250px;

.main-banner {
  display: flex;
  padding: 1em 0;
  flex-flow: column;

  &__logos,
  &__propostas,
  &__actions {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  &__propostas {
    justify-content: center;
  }

  &__python-sul {
    height: $img-heigth;
  }

  &__curitiba {
    height: $img-heigth;
  }

  &__actions {
    padding-top: 3em;
    padding-bottom: 1em;
  }
}
