$logo-size: 50px;

.nav-bar {
  background-color: $python-blue;
  display: inline-block;
  position: fixed;
  width: 100%;
  z-index: 10;

  &__content {
    height: 100px;
    display: flex;
    margin: 0 1em;
    justify-content: space-between;
    align-items: center;
  }

  &__links {
    display: none;

    @include breakpoint(sm) {
      display: flex;
    }
  }

  &__link {
    color: $python-light-text;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2em;
    padding-left: 1em;
    text-decoration: none;
  }

  &__logo {
    justify-self: flex-start;
    height: $logo-size;
    width: $logo-size;
  }

  &__hamburger {
    width: 50px;
    height: 50px;
    display: flex;
    z-index: 11;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;

    @include breakpoint(sm) {
      display: none;
    }
  }
}

.hamburger {
  &__line {
    background-color: $clear;
    width: 100%;
    height: 0.5em;
    //margin-bottom: 0.5em;
  }
}
