$angle-margin: 30px;
$angle-margin-sm: 96px;

.info-section {
  background-color: $golden-yellow;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1em;
  position: relative;

  &--light {
    background-color: $clear;
  }

  &--angle-light {
    &:after,
    &:before {
      background-color: $clear;
    }
  }

  &--angle-margin {
    padding: $angle-margin 0;
  }

  &--angle {
    margin: $angle-margin 0;

    &:after,
    &:before {
      background-color: $golden-yellow;
      content: "";
      display: block;
      height: $angle-margin;
      position: relative;

      @include breakpoint(sm) {
        height: $angle-margin-sm;
      }

      @include breakpoint(lg) {
        height: 100px;
      }
    }

    &:before {
      transform-origin: left top;
      width: 100%;
      left: 0px;
      top: 0px;
      transform: skewY(-2deg);

      @include breakpoint(sm) {
        transform: skewY(-4deg);
      }

      @include breakpoint(lg) {
        transform: skewY(-3deg);
      }
    }

    &:after {
      transform-origin: left top;
      width: 100%;
      bottom: -19px;
      left: 0px;
      transform: skewY(2deg);
      
      @include breakpoint(sm) {
        transform: skewY(4deg);
      }

      @include breakpoint(lg) {
        transform: skewY(3deg);
      }
    }
  }

  &--no-angle-bot {
    margin-bottom: 0;

    &:after {
      display: none !important;
    }
  }

  &__text {
    width: 90%;

    @include breakpoint(sm) {
      width: 60%;
    }
  }

  &__title {
    font-size: 2em;
    text-transform: uppercase;
    border-bottom: 4px solid $cinnabar;
    padding-left: 20%;
    align-self: flex-start;

    &--light {
      border-bottom: 4px solid $deep-sky-blue;
    }
  }
}
