${require('templates/partials/header.html') }

  <section class="content-wrapper" id="content">
    <div>
      <section class="jumbotron-wrapper">
        <div class="jumbotron-container">
          <div class="jumbotron">
            <div class="jumbotron__main">
              <img class="jumbotron__logo d-none d-md-block" height="50%" src="${require('img/PythonSul2019-NomedoEvento.svg') }" alt="Logo Python Sul 2019">
              <img class="jumbotron__logo d-md-none" height="100%" src="${require('img/PythonSul2019-NomedoEvento.svg') }" alt="Logo Python Sul 2019">
              <a href="https://www.eventbrite.com.br/e/pythonsul-2019-curitiba-tickets-65624868749" target="_blank" class="pybr-button--dark d-none d-sm-block buy-ticket">
                <span class="d-block"><strong>INGRESSOS</strong></span>
              </a>
              <a href="https://speakerfight.com/events/pythonsul-2019-curitiba/" target="_blank" class="pybr-button--dark d-none d-sm-block">
                Envie sua palestra
              </a>

            </div>
            <div class="jumbotron__side">
              <img class="d-none d-sm-block" width="auto" height="80%" src="${require('img/PythonSul2019-JardimBotanico.svg') }" alt="de 29 a 31 de Agosto de 2019 em Curitiba, Paraná">
              <img class="d-sm-none pybr-date" src="${require('img/PythonSul2019-JardimBotanico.svg') }" alt="de 29 a 31 de Agosto de 2019 em Curitiba, Paraná">
            </div>
          </div>
        </div>
      </section>
    </div>
    <section id="about" class="about-wrapper">
      <div class="about-container">
        <div class="about">
          <header class="section-header-wrapper">
            <div class="section-header">
              <h1 class="section-title--left">
                O evento
              </h1>
            </div>
          </header>
          <div class="about__article__body">
            <p>
              A conferência Python Sul é um evento regional da linguagem de programação Python,
              reunindo as comunidades do Rio Grande do Sul, Santa Catarina e Paraná.
              É um evento recente, sendo que a primeira edição foi realizada em 2017, e será
              anualmente realizada em uma cidade selecionado em um dos estados da região.
              No ano de 2019, iremos realizar a terceira edição da Python Sul em Curitiba/PR
              com o objetivo de promover a comunidade local e proporcionar um evento para a
              comunidade sul do Brasil, uma vez que a Python Brasil irá ocorrer em Ribeirão
              Preto/SP.
            </p>
            <!-- div class="about-button-area">
              <a href="/evento#location" class="scroll about-button pybr-button--white">
                Conheça o local
              </a>
            </div -->
          </div>
        </div>
      </div>
    </section>
    <section id="keynotes" class="keynotes-wrapper">
      <div class="keynotes-container">
        <div class="keynotes">
          <header class="section-header-wrapper">
            <div class="section-header">
              <h1 class="section-title--left">
                Keynotes
              </h1>
            </div>
          </header>
          <article class="keynote_article">
            <div class="keynote_content-wrapper">
              <h2 class="keynote-title">Em breve!</h2>
            </div>
          </article>
          <!-- article class="keynote_article">
            <div class="keynote_picture keynote_picture-1">
              <img src="$ {require('img/keynote_pic_1.jpg') }" width="100%" alt="Keynote">
            </div>
            <div class="keynote_content-wrapper">
              <h2 class="keynote-title">Name</h2>
              <h3 class="keynote-subtitle">Position</h3>
              <div class="keynote-text">
                <p>Text description</p>
              </div>
            </div>
          </article -->
        </div>
      </div>
    </section>
    <!-- section id="sponsors" class="sponsors-wrapper">
      <div class="sponsors-container">
        <div class="sponsors">
          <header class="section-header-wrapper">
            <div class="section-header">
              <h1 id="diamond" class="section-title--left">
                Patrocinadores
              </h1>
            </div>
          </header>
          <h2 class="keynote-title">Em breve!</h2>
          <!-- div class="sponsors__platinum sponsor_box">
            <h2 class="sponsor-category-title">
              PLATINA
            </h2>
            <ul class="sponsors__list">
              <li class="sponsor" id="gold">
                <a class="partner" target="_blank" href="URL">
                  <img src="$ {require('img/logo') }" width="100%" alt="Logo">
                </a>
              </li>
            </ul>
          </div>
          <div class="sponsors__gold sponsor_box">
            <h2 class="sponsor-category-title">
              OURO
            </h2>
            <ul class="sponsors__list">
              <li class="sponsor" id="silver">
                <a class="partner" target="_blank" href="URL">
                  <img src="$ {require('img/logo') }" width="100%" alt="Logo">
                </a>
              </li>
            </ul>
          </div>
          <div class="sponsors__silver sponsor_box">
            <h2 class="sponsor-category-title">
              PRATA
            </h2>
            <ul class="sponsors__list">
              <li class="sponsor">
                <a class="partner" target="_blank" href="URL">
                  <img src="$ {require('img/logo') }" width="100%" alt="Logo">
                </a>
              </li>
            </ul>
          </div>
          <div class="sponsor-button-area">
            <div id="beASponsor" class="sponsor-button snake-button">
              <a href="/quero-patrocinar" class="pybr-button--light-blue">
                <span>Quero</span> patrocinar
              </a>
            </div>
          </div -- >
        </div>
      </div>
    </section -->
    <!-- section id="partners" class="partners-wrapper">
      <div class="partners-container">
        <div class="partners">
          <header class="section-header-wrapper">
            <div class="section-header--right">
              <h1 id="diamond" class="section-title--right">
                PARCEIROS
              </h1>
            </div>
          </header>
          <div class="partner-list">
            <a class="partner" target="_blank" href="URL">
              <img src="$ {require('img/logo') }"  alt="Logo">
            </a>
          </div>
        </div>
      </div>
    </section -->
  ${require('templates/partials/footer.html') }
