${require('templates/partials/header.html') }

  <section class="content-wrapper" id="content">
    <div>
      <section class="jumbotron-wrapper">
        <div class="jumbotron-container">
          <div class="jumbotron">
            <div class="jumbotron__main">
              <img class="jumbotron__logo d-none d-md-block" height="50%" src="${require('img/PythonSul2019-NomedoEvento.svg') }" alt="Logo Python Sul 2019">
              <img class="jumbotron__logo d-md-none" height="100%" src="${require('img/PythonSul2019-NomedoEvento.svg') }" alt="Logo Python Sul 2019">
              <a href="https://www.eventbrite.com.br/e/pythonsul-2019-curitiba-tickets-65624868749" target="_blank" class="pybr-button--dark d-none d-sm-block buy-ticket">
                <span class="d-block"><strong>INGRESSOS</strong></span>
              </a>
              <a href="https://speakerfight.com/events/pythonsul-2019-curitiba/" target="_blank" class="pybr-button--dark d-none d-sm-block">
                Envie sua palestra
              </a>

            </div>
            <div class="jumbotron__side">
              <img class="d-none d-sm-block" width="auto" height="80%" src="${require('img/PythonSul2019-JardimBotanico.svg') }" alt="de 29 a 31 de Agosto de 2019 em Curitiba, Paraná">
              <img class="d-sm-none pybr-date" src="${require('img/PythonSul2019-JardimBotanico.svg') }" alt="de 29 a 31 de Agosto de 2019 em Curitiba, Paraná">
            </div>
          </div>
        </div>
      </section>
    </div>
    <section id="about" class="about-wrapper">
      <div class="about-container">
        <div class="about">
          <header class="section-header-wrapper">
            <div class="section-header">
              <h1 class="section-title--left">
                O evento
              </h1>
            </div>
          </header>
          <div class="about__article__body">
            <p>
              A conferência Python Sul é um evento regional da linguagem de programação Python,
              reunindo as comunidades do Rio Grande do Sul, Santa Catarina e Paraná.
              É um evento recente, sendo que a primeira edição foi realizada em 2017, e será
              anualmente realizada em uma cidade selecionado em um dos estados da região.
              No ano de 2019, iremos realizar a terceira edição da Python Sul em Curitiba/PR
              com o objetivo de promover a comunidade local e proporcionar um evento para a
              comunidade sul do Brasil, uma vez que a Python Brasil irá ocorrer em Ribeirão
              Preto/SP.
            </p>
            <!-- div class="about-button-area">
              <a href="/evento#location" class="scroll about-button pybr-button--white">
                Conheça o local
              </a>
            </div -->
          </div>
        </div>
      </div>
    </section>
    <section id="keynotes" class="keynotes-wrapper">
      <div class="keynotes-container">
        <div class="keynotes">
          <header class="section-header-wrapper">
            <div class="section-header">
              <h1 class="section-title--left">
                Keynotes
              </h1>
            </div>
          </header>
          <article class="keynote_article">
            <div class="keynote_picture keynote_picture-1">
              <img src="${ require('img/thais_viana.jpg') }" width="100%" alt="Keynote">
            </div>
            <div class="keynote_content-wrapper">
              <h2 class="keynote-title">Thais Viana</h2>
              <h3 class="keynote-subtitle">Sócia e desenvolvedora no studio hub9</h3>
              <div class="keynote-text">
                <p>
                  Bacharel em Ciência da Computação pela UFRJ (Universidade
                  Federal do Rio de Janeiro) e mestre em Modelos e Arquiteturas
                  de Sistemas Inteligentes pelo PPGI-UFRJ (Programa de Pós
                  Graduação em Informática), onde pesquisou sobre dados abertos
                  e otimização de integração de modelos não relacionais, com
                  foco em ontologias. Entusiasta em tecnologia e apaixonada por
                  desafios ingressou no PythonRio e PyLadies Rio à quatro anos
                  ajudando na luta pelo empoderamento digital de minorias.
                </p>
              </div>
            </div>
          </article>
          <article class="keynote_article">
            <div class="keynote_picture keynote_picture-2">
              <img src="${ require('img/melissa_mendonca.jpg') }" width="100%" alt="Keynote">
            </div>
            <div class="keynote_content-wrapper">
              <h2 class="keynote-title">Melissa Mendonça</h2>
              <h3 class="keynote-subtitle">Professora e pesquisadora na UFSC</h3>
              <div class="keynote-text">
                <p>
                  Professora no Departamento de Matemática na Universidade Federal
                  de Santa Catarina (UFSC), pesquisadora em Matemática Aplicada
                  com foco em Otimização, Análise Numérica e Álgebra Linear Numérica.
                  Desenvolvedora de Software Científico. Entusiasta de Python,
                  LaTeX e software livre em geral.
                </p>
              </div>
            </div>
          </article>
          <article class="keynote_article">
            <div class="keynote_picture keynote_picture-3">
              <img src="${ require('img/mariosergio.jpg') }" width="100%" alt="Keynote">
            </div>
            <div class="keynote_content-wrapper">
              <h2 class="keynote-title">Mario Sérgio</h2>
              <h3 class="keynote-subtitle">Gerente de Inovação Cívica @ Open Knowledge Brasil</h3>
              <div class="keynote-text">
                <p>
                  Mário Sérgio é gerente do programa de Inovação Cívica da Open
                  Knowledge Brasil. Atual presidente da Associação Python Brasil
                  (APyB). Em 2016 foi o responsável pela organização da Conferência
                  Python Brasil[12], que teve sede em Florianópolis-SC. Em 2017
                  foi nomeado fellow member da Python Software Foundation nos
                  Estados Unidos.
                </p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </section>
    <section class="location-wrapper">
      <a id="location" class="anchor" aria-hidden="true"></a>
      <div class="location-container">
        <div class="location">
          <header class="section-header-wrapper">
            <div class="section-header--right">
              <h1 class="section-title--right">
                LOCAL
              </h1>
            </div>
          </header>
          <div class="location__info">
            <article class="location__info__article">
              <header class="article__header">
                <h1 class="article__header__title">
                  <a class="unicuritiba-website" target="_blank" href="https://www.unicuritiba.edu.br/">Unicuritiba</a>
                </h1>
                <p class="article__header__subtitle">
                  R. Chile, 1678 - Rebouças, Curitiba - PR
                </p>
              </header>
            </article>
            <div class="unicuritiba-banner">
              <img class="img-fluid" src="${ require('img/unicuritiba.jpg') }" alt="Fachada da Unicuritiba">
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="map-wrapper">
      <a id="map" class="anchor" aria-hidden="true"></a>
      <div class="map-container">
        <div class="map">
          <header class="section-header-wrapper">
            <div class="section-header">
              <h1 class="section-title--left">
                MAPA DO EVENTO
              </h1>
            </div>
          </header>
          <div class="unicuritiba-banner">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3602.6376317801282!2d-49.26739088449961!3d-25.450375683779054!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94dce48ae04a7f33%3A0xc8a284291f753e0f!2sUniversity+Centre+of+Curitiba!5e0!3m2!1sen!2sbr!4v1565910861156!5m2!1sen!2sbr" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </section>

    <!-- section id="sponsors" class="sponsors-wrapper">
      <div class="sponsors-container">
        <div class="sponsors">
          <header class="section-header-wrapper">
            <div class="section-header">
              <h1 id="diamond" class="section-title--left">
                Patrocinadores
              </h1>
            </div>
          </header>
          <div class="sponsors__platinum sponsor_box">
            <h2 class="sponsor-category-title">
              PLATINA
            </h2>
            <ul class="sponsors__list">
              <li class="sponsor" id="gold">
                <a class="partner" target="_blank" href="URL">
                  <img src="$ {require('img/logo') }" width="100%" alt="Logo">
                </a>
              </li>
            </ul>
          </div>
          <div class="sponsors__gold sponsor_box">
            <h2 class="sponsor-category-title">
              OURO
            </h2>
            <ul class="sponsors__list">
              <li class="sponsor" id="silver">
                <a class="partner" target="_blank" href="URL">
                  <img src="$ {require('img/logo') }" width="100%" alt="Logo">
                </a>
              </li>
            </ul>
          </div>
          <div class="sponsors__silver sponsor_box">
            <h2 class="sponsor-category-title">
              PRATA
            </h2>
            <ul class="sponsors__list">
              <li class="sponsor">
                <a class="partner" target="_blank" href="URL">
                  <img src="$ {require('img/logo') }" width="100%" alt="Logo">
                </a>
              </li>
            </ul>
          </div>
          <div class="sponsor-button-area">
            <div id="beASponsor" class="sponsor-button snake-button">
              <a href="/quero-patrocinar" class="pybr-button--light-blue">
                <span>Quero</span> patrocinar
              </a>
            </div>
          </div>
        </div>
      </div>
    </section -->

    <section id="partners" class="partners-wrapper" style="padding-top: 10px; padding-bottom: 30px;">
      <div class="partners-container">
        <div class="partners">
          <header class="section-header-wrapper">
            <div class="section-header--right">
              <h1 id="diamond" class="section-title--right">
                PARCEIROS
              </h1>
            </div>
          </header>
          <div class="partner-list">
            <a class="partner" target="_blank" href="https://www.unicuritiba.edu.br/">
              <img src="${ require('img/unicuritiba.png') }"  alt="Logo">
            </a>
          </div>
        </div>
      </div>
    </section>

  ${ require('templates/partials/footer.html') }
