$clear: #f9f8f4;
$python-light-text: #ffffff;
$python-blue: #0f2e46;
$carrot-orange: #ef6d21;
$cinnabar: #ed403c;
$ruby: #eb1659;
$violet-red: #c61e6b;
$vivid-violet: #642c91;
$egiptian-blue: #16469e;
$deep-sky-blue: #00b7f0;
$sea-green: #2b953d;
$eucalyptus: #2ca349;
$medium-sea-green: #38b349;
$gorse: #fef129;
$golden-yellow: #ffdd00;
$silver: #c0c0c0;
$brass: #b58942;
